@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
  @font-face {
    font-family: 'Farsan';
    font-weight: 400;
    src: url('./fonts/Farsan-Regular.ttf');
  }

  p {
    @apply text-2xl;
  }

  /* body {
    font-family: 'Farsan'
  } */
}

@layer components {
  /* crear aquí conjuntos de clases de tailwind para componentes especificos, x ej boton, se puede mezclar con css comun :o */
}